{% import "/views/macros/button.njk" as button %}

<div class="{{partial.partial}} {% for option in partial.options %}{{partial.partial}}--{{option}}{% endfor %}">
    <div class="columns-50x50__grid">
        {% if partial.secondary %}
            <div class="columns-50x50__grid__secondary">
                <div class="columns-50x50__grid__secondary__asset">
                    {{asset(partial.secondary.asset)}}
                </div>
            </div>
        {% endif %}
        {% if partial.primary %}
            <div class="columns-50x50__grid__primary">
                {% if partial.primary.eyebrow %}
                    <div class="columns-50x50__grid__primary__eyebrow">
                        {{partial.primary.eyebrow}}
                    </div>
                {% endif %}
                {% if partial.primary.title %}
                    <div class="columns-50x50__grid__primary__title">
                        {{partial.primary.title}}
                    </div>
                {% endif %}
                {% if partial.primary.body %}
                    <div class="columns-50x50__grid__primary__body">
                        {{partial.primary.body}}
                    </div>
                {% endif %}
                {% if partial.primary.buttons %}
                    <div class="columns-50x50__grid__primary__buttons">
                        {% for item in partial.primary.buttons %}
                            {{button.button(item)}}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
