<div class="{{partial.partial}} {% for option in partial.options %}{{partial.partial}}--{{option}}{% endfor %}">
  <div class="footer__grid">
    <div class="footer__grid__links">
      {% for item in partial.nav %}
          <a href="{{item.url.path|url}}" class="header__grid__links__link">
              {{item.fields.navTitle or home.fields.title}}
          </a>
      {% endfor %}
    </div>
    <div class="footer__grid__aside">
      {% if doc.locales.length > 1 %}
        <div class="footer__grid__aside__switcher">
          <div class="footer__grid__aside__switcher__label">
            <span class="material-icons">language</span>
          </div>
          <div class="footer__grid__aside__switcher__form">
            <select onchange="window.location.href = this.value">
              {% for locale in doc.locales %}
                {% set localizedDoc = pod.doc(doc.podPath, locale) %}
                <option
                  value="{{localizedDoc.url.path|url}}"
                  {% if localizedDoc.locale == doc.locale %}selected{% endif %}
                >
                  {{locale.id|languageDisplayName}}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
