{% macro button(button) %}
    {% set tag = "a" if button.url else "button" %}
    {% set tag = button.tag if button.tag else tag %}
    <{{tag}}
        class="
            button
            {% for option in button.options %}
            button--{{option}}
            {% endfor %}
        "
        {% if button.url %}
            href="{{button.url|url}}"
        {% endif %}
        {% if button.icon %}
            style="--button-icon: '{{button.icon}}'"
        {% endif %}
        {% if button.ariaLabel %}
            aria-label="{{button.ariaLabel}}"
        {% endif %}
        {% if button.youtubeModal %}
            youtube-modal="{{button.youtubeModal}}"
        {% endif %}
    >
        <span class="button__label">{{button.label}}</span>
    </{{tag}}>
{% endmacro %}
