@import '../utils/spacing'
@import '../utils/type'

.hero
    text-align: center

.hero__content

.hero__content__title
    +type-h1

.hero__content__assets
    display: flex
    margin-top: $spacing-60